footer
{
	background: linear-gradient(to right,#000, #54034c, #000 );
}
top-header
{
	background-color: white;
}
#btn_save
{
	background: linear-gradient(to right,  #54034c,#000);
}
#btn_obr
{
background: linear-gradient(to right , #54034c,#000);
}
#k1
{
	background: linear-gradient(to right, #000 , #54034c,#000);
}
.